<div class="d-flex mypv_subnav">
    <div class="mr-auto mypv_subnav_header">Templates</div>
    <div>
        <a
          class="mypv_subnav_link"
          id="dt_device_types_subnav"
          href="/device_types">
            Device Types
        </a>
    </div>
    <div>
        <a
          class="mypv_subnav_link"
          id="dt_device_templates_subnav"
          href="/device_templates">
            Device Templates
        </a>
    </div>
    <div>
        <a
          class="mypv_subnav_link"
          id="dt_modbus_templates_subnav"
          href="/modbus_templates">
            Modbus Maps
        </a>
    </div>
    <div>
        <a
          class="mypv_subnav_link"
          id="dt_oem_definitions_subnav"
          href="/oem_definitions">
            Device Definitions
        </a>
    </div>
</div>