<div class="d-flex mypv_subnav">
    <div class="mr-auto mypv_subnav_header">Tag Mapping</div>
    <div>
        <a 
          class="mypv_subnav_link"
          id="dt_modbus_templates_subnav" 
          href="/modbus_templates">
            Modbus
        </a>
    </div>
<!--     <div>
        <a 
          class="mypv_subnav_link"
          id="dt_device_templates_subnav" 
          href="/device_templates">
            DNP
        </a>
    </div> -->
    <div>
        <a 
          class="mypv_subnav_link"
          id="dt_oem_definitions_subnav" 
          href="/oem_definitions">
            Status Mapping
        </a>
    </div>
</div>