
<footer id="acuity_footer" class="d-flex justify-content-center align-items-center fixed-bottom bg-darkest-blue fs-10px fg-white">
  <span style = "padding-right: 3px;">Acuity&reg; is a registered trademark of</span>
  {#-
  On extra small screens, we make 'ADERIS ENERGY, LLC' the link, so that
  'www.aderisenergy.com' will not wrap and make the footer look weird.
  -#}
  <span class="d-none d-sm-inline">Aderis Energy, LLC</span>
  <span class="d-none d-sm-inline px-1"> - </span>
  <a class="sos-status-good aderis-link" href="https://aderisenergy.com">
    <span class="d-inline d-sm-none pl-1">Aderis Energy, LLC</span>
    <span class="d-none d-sm-inline">www.aderisenergy.com</span>
  </a>
</footer>


